body{
    text-align: center;
}
#form{
    margin:auto;
    padding: 10px;
    border: 2px solid black;
    height: 400px;
    width: 400px;
    text-align: center;
}
#header{
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;
    width: 100%;
}

#footer{
    background-color: black;
    color: white;
    height: 30px;
    margin-bottom: 0px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
/* student table */
td, th{
    border: 1px solid black;
}
table{
    margin :auto;
}
